* {
  margin: 0;
  padding: 0;
}

.mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.hide {
  display: none;
}

.show {
  display: block;
}

body {
  background-color: #c6e6f1;
  background: url(../imgs/body_bk.png) no-repeat;
}

#chatRoom {
    width: 800px;
    margin: 20px auto 10px auto;
}

#header {
  font-size: 32px;
}

#userInformation {
  font-size: 18px;
}

#userOnlineNum {
  color: red;
}

#headContent {
  width: 800px;
  height: 130px;
  background: url(../imgs/header_bk.png) no-repeat;
  text-align: center;
  padding-top: 26px;
  color: #f8ffff;

}

#showContent {
  height: 500px;
  width: 800px;
  margin-top: 50px;
  background-color: #323642;
  line-height: 30px;
  overflow: auto;
  color: #ffffff;
  padding-top: 40px;
  padding-left: 40px;
}

#functionArea {
  height: 50px;
  border-bottom: 1px solid #730b96;
}

#editArea {
  position: relative;
}

#writeContent {
  height: 100px;
  width: 680px;
  font-size: 30px;
  margin: 5px 0 4px 0;
}

#sendBtn {
  width: 100px;
  height: 60px;
  position: absolute;
  top: 28px;
  right: 9px;
  cursor: pointer;
}

#loginContent {
  position: absolute;
  top: 300px;
  left: 730px;
  width: 300px;
  text-align: center;
  z-index: 200;
}

#info {
  padding-bottom: 20px;
  color: #cacd23;
}

#nickname {
  height: 30px;
  margin-left: 60px;
  margin-right: 10px;
}

#loginBtn {
  width: 50px;
  height: 30px;
  cursor: pointer;
}
